.nav-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 20px;
}

.nav-header__logo {
  display: block;
  margin-top: 110px;

  background-size: 442px 277px;
  background-repeat: no-repeat;
  background-position: center;
  width: 442px;
  height: 277px;
  order: 1;
}

.nav-header__wrapper {
  order: 0;
  align-self: flex-end;
  margin-right: 105px;
  position: relative;
  width: 200px;
  display: flex;
  flex-direction: column;
}

.nav-header__toggle {
  order: 2;
  display: flex;
  align-items: center;
  align-self: flex-end;
  text-transform: uppercase;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

.nav-header__icon {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 26px;
  margin-left: 2px;

  &::after {
    position: absolute;
    display: block;
    content: "";
    width: 30px;
    height: 4px;
    background-color: red;
    top: 0;
    left: 12px;
    border-radius: 2px;

    box-shadow: 0 10px 0 0 red, 0 20px 0 0 red;
  }
}

.nav-header__list {
  position: absolute;
  margin-top: 50px;
  width: 100%;
}

.nav-header__list {
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  &--hide {
    visibility: hidden;
  }
}

.nav-header__link {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 21px;
  padding-right: 21px;

  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #2e1b46;

  &--active,
  :hover {
    background-color: rgba($color: #000000, $alpha: 0.1);
  }
  &:hover {
    background-color: rgba($color: #000000, $alpha: 0.05);
  }
}

@media (max-width: 1700px) {
  .nav-header__logo {
    margin-top: 30px;

    width: 300px;
    height: 190px;
    background-size: 300px auto;
  }
}

@media (max-width: $lg) {
  .nav-header__logo {
    margin-top: 20px;

    width: 250px;
    height: 170px;
    background-size: 250px auto;
  }
}

@media (max-width: $md) {
  .nav-header__logo {
    width: 150px;
    height: 100px;
    background-size: 150px auto;
  }

  .nav-header__wrapper {
    margin-right: 40px;
  }
}

@media (max-width: $sm) {
  .nav-header__logo {
    display: none;
  }
}
