.dating {
  min-height: 1210px;
  background-image: url(../img/dating-bg.png);
  background-position: center 718px;
  background-repeat: no-repeat;
}

.dating__card-list {
  margin: -235px auto 136px auto;
}

.dating__slogan {
  display: flex;
  justify-content: center;
  margin-bottom: 38px;
  padding-left: 0px;

  font-size: 52px;
  color: #2f1946;
  text-transform: uppercase;
  text-align: center;
}

.dating__logo {
  width: 60px;
  height: 60px;
  margin-right: 10px;

  background-image: url(../img/dating-logo.png);
  background-size: 57px 59px;
  background-repeat: no-repeat;
  background-position: 0 0px;
}

.dating__quote {
  max-width: 786px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.dating__text {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  color: #2f1946;
}

.dating__author {
  display: block;

  font-size: 30px;
  text-align: right;
  font-style: normal;
  line-height: 36px;
  color: #fe4a5d;
}

.dating__form {
  max-width: 466px;
  height: 552px;
  margin: 0 auto;
  margin-bottom: 159px;
}

@media (max-width: $xl) {
  .dating__card-list {
    margin-top: 20px;
    margin-bottom: 50px;
  }
}

@media (max-width: $md) {
  .dating {
    background-image: none;
  }

  .dating__card-list {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .dating__quote {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: $sm) {
  .dating__form {
    margin-bottom: 0px;
  }
}
