.card-list {
  display: flex;

  justify-content: space-between;
  max-width: 785px;
}

.card-list__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 235px;
  height: 330px;

  &--world {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background-color: #fe4a5d;
  }

  &--hearts {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background-color: #e22028;
  }

  &--site {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
    background-color: #ff6c00;
  }
}

.card-list__icon {
  display: block;
  width: 100%;
  height: 225px;

  background-position: center;
  background-repeat: no-repeat;

  &--world {
    background-image: url(../img/card-list-world.png);
    background-size: 98px 96px;
  }

  &--hearts {
    background-image: url(../img/card-list-hearts.png);
    background-size: 112px 96px;
  }

  &--site {
    background-image: url(../img/card-list-site.png);
    background-size: 114px 78px;
  }
}

.card-list__text {
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #ffffff;
  font-size: 32px;
  text-align: center;
  background-color: rgba($color: #000000, $alpha: 0.1);
}

@media (max-width: $md) {
  .card-list {
    flex-wrap: wrap;
    justify-content: center;
  }

  .card-list__item {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 170px;
    height: 260px;
  }

  .card-list__text {
    height: 105px;

    font-size: 25px;
  }
}

@media (max-width: $sm) {
  .card-list {
    flex-direction: column;
  }
  .card-list__item {
    width: 100%;
    height: 150px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }

  .card-list__icon {
    width: 50%;
  }

  .card-list__text {
    width: 50%;
    height: 100%;
  }
}
